.radio-section-box {
    font-size: 1rem;
}

.radio-section-box-title {
    display: block;
    margin-bottom: 0.5rem;
}

.radio-section-box-elements {
    display: flex;
    gap: 0.5rem;
}

    .radio-section-box-elements > .input {
        cursor: pointer;
    }

#departments-insert,
#units-insert,
#departments-update,
#units-update {
    display: none;
}
